:root{
  box-sizing: border-box;
  --main-font: "Poppins", sans-serif;
  --font-color: #272e30;
  --bg-color: whitesmoke;
  --accent-one: #343e40;
  --accent-two: #7DA2A9;
  --accent-three: whitesmoke;
  --accent-four: #A0AECD;
  --large-font: 2.4rem;
  --medium-font: 2rem;
  --small-font: 1.2rem;
  --very-large-font: 4.5rem;
  --very-small-font: 1rem;
  --nav-height: 4.5rem;
}

nav div.nav-wrapper .large-font-size {
  font-size: var(--large-font);
  font-weight: 600;
}

nav {
  margin-bottom: 2rem;
  height:var(--nav-height)
}

nav div.nav-wrapper .shopping-cart-icon {
  cursor: pointer;
  padding: 0 .8rem;
}

nav div.nav-wrapper .shopping-cart-icon:hover {
  background-color: #263238;
}

nav span.badge {
  position: absolute;
  top: 10px;
  font-weight: 500;
}

nav ul.right a{
  font-size: 1.2rem;
}

/* Homepage */
.homepage .left {
  margin-bottom: 3rem;
  font-size: max(2.5rem, 3.5vw);
  font-weight: 700;
}

.homepage .left button{
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  height:100%;
}

.homepage {
  min-height: 85vh;
  display: flex;
  align-items: center;
  width: min(95%, 1300px);
}

.homepage .right img {
  border-radius: 2rem;
  max-height: 350px;
}


.cart {
  height: 100vh;
  width: max(40vw, 400px);
  position: fixed;
  top: 0;
  right:0;
  padding: 0 2.2rem;
}

.cart h4, .cart h5, .cart a {
  font-weight: 700;
}

.cart #cart-close{
  position: absolute;
  cursor: pointer;
  top:2rem;
  right:0;
}

.cart .cart-product-view{
  overflow-y: scroll;
  max-height: 60%;
}

.cart .cart-product-view .cart-p-title{
  font-weight: 700;
}

.cart .cart-product-view .cart-view-row{
  height: 12rem;
  padding: 2rem;
  overflow: hidden;
  background-color: inherit;
}


.cart .cart-product-view .cart-view-row .image{
  height: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cart .cart-product-view .cart-view-row .cart-product-description{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--small-font);
  justify-content: center;
}

.cart .cart-product-view .cart-view-row .cart-product-description .quantity-container{
  height: 2rem;
  gap: 1.5rem;
}

.cart .cart-product-view .cart-view-row .cart-product-description button{
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart .cart-product-view .cart-view-row .cart-product-description *{
  margin: .4rem 0rem;
  justify-content: center;
  display: flex;
}

.medium-font-size{
  font-size: var(--medium-font) !important;
}

.product-container .card-content .card-title{
  font-weight: 500;
}

.product-container .card-content .product-price{
  font-weight: 400;
  font-size: 1.4rem;
}

.product-container .card-action button{
  font-weight: 500;
}

@media ( max-width: 992px ) {
  .homepage .left *{
    text-align: center;
    
  }
}

@media (max-width: 500px ) {
  :root {
    --nav-height: 3.8rem;
  }

  #nav-mobile {
    position:fixed;
    top: var(--nav-height);
    display: flex;
    justify-content: center;
    width: 100vw;
    float: none !important;
    gap: 1rem;
  }

  nav{
    position: fixed;
    z-index: 2;
  }

  .nav-wrapper {
    display: flex;
    justify-content: center;
  }

  nav .brand-logo.left {
    justify-self: center;
    left: auto;
  }

  .background, .shop {
    padding-top: 8.5rem;
  }

  .cart {
    z-index: 3;
    width: 100vw;
  }
}
