:root{
  box-sizing: border-box;
  --main-font: "Poppins", sans-serif;
  --font-color: #272e30;
  --bg-color: whitesmoke;
  --accent-one: #343e40;
  --accent-two: #7DA2A9;
  --accent-three: whitesmoke;
  --accent-four: #A0AECD;
  --large-font: 2.4rem;
  --medium-font: 2rem;
  --small-font: 1.2rem;
  --very-large-font: 4.5rem;
  --very-small-font: 1rem;
  --nav-height: 4.5rem;
}

nav div.nav-wrapper .large-font-size {
  font-size: var(--large-font);
}

nav {
  margin-bottom: 2rem;
  height:var(--nav-height)
}

nav div.nav-wrapper .shopping-cart-icon {
  cursor: pointer;
  padding: 0 .8rem;
}

nav div.nav-wrapper .shopping-cart-icon:hover {
  background-color: #263238;
}

nav span.badge {
  position: absolute;
  top: 10px;
}

.cart {
  height: 100vh;
  width: max(35vw, 400px);
  position: fixed;
  top: 0;
  right:0;
  padding: 0 2.2rem;
}

.cart #cart-close{
  position: absolute;
  cursor: pointer;
  top:2rem;
  right:0;
}

.cart .cart-product-view{
  overflow-y: scroll;
  max-height: 60%;
}

.cart .cart-product-view .cart-view-row{
  height: 12rem;
  padding: 2rem;
}


.cart .cart-product-view .cart-view-row .image{
  height: 100%;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.cart .cart-product-view .cart-view-row .cart-product-description{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: var(--small-font);
}

.cart .cart-product-view .cart-view-row .cart-product-description .quantity-container{
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  gap: 1.5rem;
}

.cart .cart-product-view .cart-view-row .cart-product-description button{
  height: 50%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart .cart-product-view .cart-view-row .cart-product-description *{
  margin: .5rem 0rem;
  justify-content: center;
  display: flex;
}

.medium-font-size{
  font-size: var(--medium-font) !important;
}